@font-face {
  font-family: $font-bold;
  src: url(../fonts/proximanova_extrabld.otf);
  src: url('../fonts/proximanova_extrabld.otf') format('otf');
  src: url(../fonts/proximanova_extrabld.eot);
  src: url('../fonts/proximanova_extrabld.eot') format('eot');
  src: url(../fonts/proximanova_extrabld.woff);
  src: url('../fonts/proximanova_extrabld.woff') format('woff');
  src: url(../fonts/proximanova_extrabld.ttf);
  src: url('../fonts/proximanova_extrabld.ttf') format('truetype');
}
@font-face {
  font-family: $font-medium;
  src: url(../fonts/proximanova_medium.otf);
  src: url('../fonts/proximanova_medium.otf') format('otf');
  src: url(../fonts/proximanova_medium.eot);
  src: url('../fonts/proximanova_medium.eot') format('woff');
  src: url(../fonts/proximanova_extrabld.woff);
  src: url('../fonts/proximanova_extrabld.woff') format('woff');
  src: url(../fonts/proximanova_medium.ttf);
  src: url('../fonts/proximanova_medium.ttf') format('truetype');
}
@font-face {
  font-family: $font-normal;
  src: url(../fonts/ProximaNovaRegular.otf);
  src: url('../fonts/ProximaNovaRegular.otf') format('otf');
  src: url(../fonts/ProximaNovaRegular.ttf);
  src: url('../fonts/ProximaNovaRegular.ttf') format('truetype');
}
@font-face {
  font-family: $font-medium;
  src: url(../fonts/proximanova_mediumit.otf);
  src: url('../fonts/proximanova_mediumit.otf') format('otf');
}
@font-face {
  font-family: $proxima-bold;
  src: url(../fonts/Proxima_Nova_ScOsf_Bold.otf);
  src: url('../fonts/Proxima_Nova_ScOsf_Bold.otf') format('otf');
  src: url(../fonts/ProximaNovaBold.ttf);
  src: url('../fonts/ProximaNovaBold.ttf') format('truetype');
}
@font-face {
  font-family: $font-semibold;
  src: url(../fonts/ProximaNovaSemibold.ttf);
  src: url('../fonts/ProximaNovaSemibold.ttf') format('truetype');
}
@font-face {
  font-family: $font-thin;
  src: url(../fonts/ProximaNovaThin.ttf);
  src: url('../fonts/ProximaNovaThin.ttf') format('truetype');
}
@font-face {
  font-family: $font-light;
  src: url(../fonts/ProximaNovaLight.ttf);
  src: url('../fonts/ProximaNovaLight.ttf') format('truetype');
}
