<div class="hero-banner">
    <div class= "format-hero-text">
        <h1>
            Hood Family Tree
        </h1>
        <h1>
            Welcome to our family website, come explore!
        </h1>
    </div>


</div>


<div class = "format-second-panel">
    <h2>
        Let come together as a family
    </h2>
</div>