
<header class="hero">
    <div class="container-two spacing">
        <h1 class="primary-title">The Hood Family Tree</h1>
        <p>If we stay steadfast and strong as a family, we can make it though anything</p>
        <a href="#" class="btn">Explore</a>
    </div>
</header>

<main>

    <section class="featured">
        <div class="container-two">
            <h2 class="section-title">Featured Family, in loving memory</h2>
            <div class="split">
                <a href="#" class="featured__item">
                    <img src="/themes/custom/hood_family/images/alman.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">❤</span>Alman Hood</p>
                </a>
                <a href="#" class="featured__item">
                    <img src="/themes/custom/hood_family/images/uncle-bob.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">❤</span>Uncle Bob</p>
                </a>
                <a href="#" class="featured__item">
                    <img src="/themes/custom/hood_family/images/alman.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">❤</span>Alman Hood</p>
                </a>
            </div>
        </div>
    </section>


    <section class="our-products">
        <div class="container-two">
            <h2 class="section-title">Our Team</h2>

            <article class="product shoe-red spacing">
                <img src="img/shoe-1.png" alt="" class="product__image">
                <h3 class="product__title">Matthew A Hood</h3>
                <p class="product__description">CTO and Full Stack Developer</p>
                <a href="" class="btn">contact now</a>
            </article>

            <article class="product shoe-white shoe-left spacing">
                <img src="img/shoe-2.png" alt="" class="product__image">
                <h3 class="product__title">Jerome Hood</h3>
                <p class="product__description">CEO and business lead</p>
                <a href="" class="btn">contact now</a>
            </article>

            <article class="product shoe-blue spacing">
                <img src="img/shoe-3.png" alt="" class="product__image">
                <h3 class="product__title">Gaynelle Hood</h3>
                <p class="product__description">Director of Design and Social Media</p>
                <a href="" class="btn">contact now</a>
            </article>

        </div>
    </section>

</main>

</body>